@font-face {
    font-family: "Decima Nova Pro";
    src: url("/fonts/DecimaNovaPro.otf");
}
*{
    font-family: "Decima Nova Pro", sans-serif;
}
.titulo{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    text-align: center;
    display: grid;
    align-items: center;
    color: white;
}
.titulo h1{
    font-size: 6em;
    letter-spacing: .05em;
}
.titulo h2{
    font-size: 3em;
    font-weight: lighter;
    line-height: 4em;
}
.porque{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #d9d9d9;
    display: flex;
}
.imagenPq{
    position: relative;
    top: 0;
    left: 0;
    margin: 40px;
}
.imagenPq img{
    width: calc(50vw - 40px);
}
.textoPq{
    position: relative;
    top: 0;
    left: 0;
    margin: 40px 40px 0 0;
}
.textoPq h2{
    font-size: 3em;
    font-weight: lighter;
    margin-bottom: 30px;
    text-align: center;
}
.textoPq p{
    font-size: 1.4em;
}
.ramasProf{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: grid;
    align-items: center;
    color: white;
}
.textoRamas h1{
    margin-top: 100px;
    font-size: 5em;
    text-align: center;
    font-weight: lighter;
}
.iconosRamas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoRama{
    position: relative;
    margin: 120px 40px 40px;
    min-width: 210px;
    width: 13%;
    height: 30vh;
    background-color: #2E2E2EB2;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    display: grid;
    place-items: center;
}
.iconoRama img{
    position: relative;
    width: 40%;
    margin: 20px 20px 0;
}
.iconoRama p {
    margin: 0 10px
}
.aspectosDest{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #d9d9d9;
}
.listasAspectos{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: calc(100% - 40px);
    height: 100%;
    margin: 40px 40px 0;
}
.tituloAspectos{
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30vh;
}
.tituloAspectos h1{
    font-size: 5em;
    font-weight: lighter;
    color: #51626f;
}
.listasAspectosDest{
    width: 32%;
    margin-bottom: 30px;
}
.tituloLista{
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
    list-style: none;
    margin: 0 0 30px;
}
.listasAspectosDest p{
    font-size: 1.7em;
    margin-bottom: 1em;
}
.lista{
    font-size: 1.5em;
    line-height: 1.5em;
    list-style: none;
}
.lista li{
    text-indent: -1.5em;
    margin-right: 1.5em;
}
.lista li::before{
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-image: url(/img/ciclos/puntolista.svg);
    background-size: contain;
}
.galFotos {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #999999FF;
    display: block;
    text-align: center;
    padding: 20px 0;
}
figure{
    display: inline-block;
    width: 23.5%;
    margin: 0.5em;
}
figure img{
    width: 100%;
}
.modulos{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 70vh;
    background-color: #d9d9d9;
}
.tituloModulos{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
}
.tituloModulos h1 {
    font-size: 5em;
    font-weight: lighter;
    color: #51626f;
}
.cursosListas{
    display: flex;
    margin: 20px 70px 0;
}
.cursosListas h2{
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
    margin-bottom: 30px;
}
.materias{
    width: 50%;
    height: 100%;
    margin: 10px;
}
.materiasLista{
    font-size: 1.5em;
    line-height: 1.7em;
    height: 100%;
}
.materiasLista li{
    text-indent: -1.5em;
    margin-right: 1.5em;
    list-style: none;
}
.materiasLista li::before{
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-image: url(/img/ciclos/puntolista.svg);
    background-size: contain;
}